<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: API Examples
## Random User and Fruityvice API Examples


Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruityvice API, using `requests` Python library
*   Load and use Open-Joke-API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation#intro) can be found here.

Another example of simple API we will use in this notebook is Fruityvice application. The Fruityvice API web service which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The web service is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [ ]:
#!pip install randomuser

Then, we will load the necessary libraries.

In [1]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [2]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [3]:
some_list = r.generate_users(10)

In [4]:
some_list

[<randomuser.RandomUser at 0x2b54b6be710>,
 <randomuser.RandomUser at 0x2b54b6be5d0>,
 <randomuser.RandomUser at 0x2b54b81b490>,
 <randomuser.RandomUser at 0x2b54c777a80>,
 <randomuser.RandomUser at 0x2b54b873650>,
 <randomuser.RandomUser at 0x2b54b889040>,
 <randomuser.RandomUser at 0x2b54c7a2be0>,
 <randomuser.RandomUser at 0x2b54b692650>,
 <randomuser.RandomUser at 0x2b54c800450>,
 <randomuser.RandomUser at 0x2b54b662d50>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [5]:
name = r.get_full_name()

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [16]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Dorian Robert   dorian.robert@example.com
Toivo Tuomala   toivo.tuomala@example.com
Abdias Aragão   abdias.aragao@example.com
Kian Hammerstad   kian.hammerstad@example.com
Sarah Bradley   sarah.bradley@example.com
پریا مرادی   pry.mrdy@example.com
Betina Åmodt   betina.amodt@example.com
Carrie Little   carrie.little@example.com
Jessica Neff   jessica.neff@example.com
Cameron Collins   cameron.collins@example.com

## Exercise 1
In this Exercise, generate photos of the random 10 users.

In [23]:
import os 
from PIL import Image

In [26]:
## Write your code here
for user in some_list:
    print(user.get_picture())

https://randomuser.me/api/portraits/men/92.jpg
https://randomuser.me/api/portraits/men/22.jpg
https://randomuser.me/api/portraits/men/11.jpg
https://randomuser.me/api/portraits/men/25.jpg
https://randomuser.me/api/portraits/women/60.jpg
https://randomuser.me/api/portraits/women/92.jpg
https://randomuser.me/api/portraits/women/69.jpg
https://randomuser.me/api/portraits/women/87.jpg
https://randomuser.me/api/portraits/women/53.jpg
https://randomuser.me/api/portraits/men/8.jpg

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [27]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [28]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Valerie Mathieu,female,Bätterkinden,Solothurn,valerie.mathieu@example.com,1977-07-03T20:44:16.655Z,https://randomuser.me/api/portraits/women/63.jpg
1,Sedef Yorulmaz,female,Tokat,Bursa,sedef.yorulmaz@example.com,1983-09-04T02:07:20.010Z,https://randomuser.me/api/portraits/women/3.jpg
2,Daniel Cano,male,Albacete,Castilla la Mancha,daniel.cano@example.com,1965-11-27T13:20:14.392Z,https://randomuser.me/api/portraits/men/6.jpg
3,Katherina Stach,female,Trier-Saarburg,Thüringen,katherina.stach@example.com,1946-11-15T05:07:02.165Z,https://randomuser.me/api/portraits/women/10.jpg
4,Billy Hansen,male,Balbriggan,Kerry,billy.hansen@example.com,1980-11-29T09:57:58.464Z,https://randomuser.me/api/portraits/men/23.jpg
5,Ceyhun Abanuz,male,Ordu,Artvin,ceyhun.abanuz@example.com,1983-09-10T04:52:17.928Z,https://randomuser.me/api/portraits/men/60.jpg
6,Hans Jürgen Duda,male,Brandis,Hessen,hansjurgen.duda@example.com,1994-10-23T08:14:28.218Z,https://randomuser.me/api/portraits/men/79.jpg
7,محمدمهدی کوتی,male,آمل,لرستان,mhmdmhdy.khwty@example.com,1953-08-29T08:03:49.937Z,https://randomuser.me/api/portraits/men/32.jpg
8,Britney Sutton,female,Chester,West Yorkshire,britney.sutton@example.com,1973-06-28T02:48:12.821Z,https://randomuser.me/api/portraits/women/89.jpg
9,Tadeusz Börger,male,Rehna,Bayern,tadeusz.borger@example.com,1959-02-05T22:19:14.693Z,https://randomuser.me/api/portraits/men/96.jpg

In [29]:
df1 = pd.DataFrame(get_users())

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruityvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [30]:
import requests
import json

We will obtain the [fruityvice](https://www.fruityvice.com) API data using `requests.get("url")` function. The data is in a json format.

In [33]:
data = requests.get("https://fruityvice.com/api/fruit/all")
data

We will retrieve results using `json.loads()` function.

In [34]:
results = json.loads(data.text)

We will convert our json data into *pandas* data frame.

In [54]:
pd.DataFrame(results).head()

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [36]:
df2 = pd.json_normalize(results)

In [37]:
df2

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.00,18.00,18.00,0.00
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.80
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.20,17.20,22.00,1.00
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.20,2.60,3.90,0.90
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.10,10.00,15.00,0.40
5,Durian,60,Malvaceae,Malvales,Durio,147,5.30,6.75,27.10,1.50
6,Blackberry,64,Rosaceae,Rosales,Rubus,40,0.40,4.50,9.00,1.30
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,50,0.34,5.74,11.30,0.75
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,61,0.50,9.00,15.00,1.10
9,Lychee,67,Sapindaceae,Sapindales,Litchi,66,0.44,15.00,17.00,0.80
10,Pineapple,10,Bromeliaceae,Poales,Ananas,50,0.12,9.85,13.12,0.54
11,Fig,68,Moraceae,Rosales,Ficus,74,0.30,16.00,19.00,0.80
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,44,0.60,0.00,10.00,0.90
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97,0.70,11.20,22.40,2.20
14,Plum,71,Rosaceae,Rosales,Prunus,46,0.28,9.92,11.40,0.70
15,Orange,2,Rutaceae,Sapindales,Citrus,43,0.20,8.20,8.30,1.00
16,GreenApple,72,Rosaceae,Rosales,Malus,21,0.10,6.40,3.10,0.40
17,Raspberry,23,Rosaceae,Rosales,Rubus,53,0.70,4.40,12.00,1.20
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,30,0.20,6.00,8.00,0.60
19,Lemon,26,Rutaceae,Sapindales,Citrus,29,0.30,2.50,9.00,1.10
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,60,0.38,13.70,15.00,0.82
21,Blueberry,33,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.00
22,Apple,6,Rosaceae,Rosales,Malus,52,0.40,10.30,11.40,0.30
23,Guava,37,Myrtaceae,Myrtales,Psidium,68,1.00,9.00,14.00,2.60
24,Apricot,35,Rosaceae,Rosales,Prunus,15,0.10,3.20,3.90,0.50
25,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,34,0.00,8.00,8.00,0.00
26,Tangerine,77,Rutaceae,Sapindales,Citrus,45,0.40,9.10,8.30,0.00
27,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,36,0.40,3.00,7.00,1.00
28,Lime,44,Rutaceae,Sapindales,Citrus,25,0.10,1.70,8.40,0.30
29,Pomegranate,79,Lythraceae,Myrtales,Punica,83,1.20,13.70,18.70,1.70
30,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,60,1.50,8.00,9.00,9.00
31,Grape,81,Vitaceae,Vitales,Vitis,69,0.16,16.00,18.10,0.72
32,Morus,82,Moraceae,Rosales,Morus,43,0.39,8.10,9.80,1.44
33,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,44,0.40,3.00,8.00,0.60
34,Avocado,84,Lauraceae,Laurales,Persea,160,14.66,0.66,8.53,2.00
35,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,61,0.50,8.90,14.60,1.14
36,Cranberry,87,Ericaceae,Ericales,Vaccinium,46,0.10,4.00,12.20,0.40
37,Cherry,9,Rosaceae,Rosales,Prunus,50,0.30,8.00,12.00,1.00
38,Peach,86,Rosaceae,Rosales,Prunus,39,0.25,8.40,9.50,0.90
39,Jackfruit,94,Moraceae,Rosales,Artocarpus,95,0.00,19.10,23.20,1.72
40,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,44,1.26,0.50,7.56,1.78
41,Hazelnut,96,Betulaceae,Fagales,Corylus,628,61.00,4.30,17.00,15.00
42,Pomelo,98,Rutaceae,Sapindales,Citrus,37,0.00,8.50,9.67,0.82
43,Mangosteen,99,Clusiaceae,Malpighiales,Garcinia,73,0.58,16.11,17.91,0.41
44,Pumpkin,100,Cucurbitaceae,Cucurbitales,Cucurbita,25,0.30,3.30,4.60,1.10
45,Japanese Persimmon,101,Ebenaceae,Ericales,Diospyros,70,0.20,13.00,19.00,0.60
46,Papaya,42,Caricaceae,Brassicales,Carica,39,0.30,4.40,5.80,0.50
47,Annona,103,Annonaceae,Rosales,Annonas,92,0.29,3.40,19.10,1.50
48,Ceylon Gooseberry,104,Salicaceae,Malpighiales,Dovyalis,47,0.30,8.10,9.60,1.20

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [40]:
cherry = df2.loc[df2["name"] == 'Cherry']
cherry

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
37,Cherry,9,Rosaceae,Rosales,Prunus,50,0.3,8.0,12.0,1.0

In [41]:
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [47]:
# Write your code here
Banana = df2.loc[df2["name"] == 'Banana']
Banana

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0

In [53]:
Banana.iloc[0]['nutritions.carbohydrates']

22.0

## Exercise 3

This [page](https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/) contains a list of free public APIs for you to practice. Let us deal with the following example.

#### Official Joke API 
This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

https://official-joke-api.appspot.com/jokes/ten

1. Using `requests.get("url")` function, load the data from the URL.

In [56]:
url = "https://official-joke-api.appspot.com/jokes/ten"
data = requests.get(url)
data

2. Retrieve results using `json.loads()` function.

In [58]:
results = json.loads(data.text)
results

[{'type': 'general',
  'setup': 'What do you call a nervous javelin thrower?',
  'punchline': 'Shakespeare.',
  'id': 211},
 {'type': 'general',
  'setup': "Did you hear about the chameleon who couldn't change color?",
  'punchline': 'They had a reptile dysfunction.',
  'id': 85},
 {'type': 'general',
  'setup': 'What do you call a pile of cats?',
  'punchline': 'A Meowtain.',
  'id': 214},
 {'type': 'general',
  'setup': 'Why can\'t you use "Beef stew"as a password?',
  'punchline': "Because it's not stroganoff.",
  'id': 307},
 {'type': 'general',
  'setup': 'Why do crabs never give to charity?',
  'punchline': 'Because they’re shellfish.',
  'id': 346},
 {'type': 'general',
  'setup': 'What’s E.T. short for?',
  'punchline': 'He’s only got little legs.',
  'id': 276},
 {'type': 'general',
  'setup': 'Why are ghosts bad liars?',
  'punchline': 'Because you can see right through them!',
  'id': 300},
 {'type': 'general',
  'setup': 'Who is the coolest Doctor in the hospital?',
  'punchline': 'The hip Doctor!',
  'id': 297},
 {'type': 'general',
  'setup': 'Who did the wizard marry?',
  'punchline': 'His ghoul-friend',
  'id': 296},
 {'type': 'programming',
  'setup': 'I just got fired from my job at the keyboard factory.',
  'punchline': "They told me I wasn't putting in enough shifts.",
  'id': 399}]

3. Convert json data into *pandas* data frame. Drop the type and id columns.

In [64]:
joke = pd.DataFrame(results)
joke.head()

,type,setup,punchline,id
0,general,What do you call a nervous javelin thrower?,Shakespeare.,211
1,general,Did you hear about the chameleon who couldn't ...,They had a reptile dysfunction.,85
2,general,What do you call a pile of cats?,A Meowtain.,214
3,general,"Why can't you use ""Beef stew""as a password?",Because it's not stroganoff.,307
4,general,Why do crabs never give to charity?,Because they’re shellfish.,346

In [65]:
joke.drop(columns=['id','type'],inplace=True)
joke

,setup,punchline
0,What do you call a nervous javelin thrower?,Shakespeare.
1,Did you hear about the chameleon who couldn't ...,They had a reptile dysfunction.
2,What do you call a pile of cats?,A Meowtain.
3,"Why can't you use ""Beef stew""as a password?",Because it's not stroganoff.
4,Why do crabs never give to charity?,Because they’re shellfish.
5,What’s E.T. short for?,He’s only got little legs.
6,Why are ghosts bad liars?,Because you can see right through them!
7,Who is the coolest Doctor in the hospital?,The hip Doctor!
8,Who did the wizard marry?,His ghoul-friend
9,I just got fired from my job at the keyboard f...,They told me I wasn't putting in enough shifts.